<template>
    <div>
        <router-link :to="{ name: 'person.index' }" class="mx-1">People</router-link>
        <router-link :to="{ name: 'person.create' }">Add</router-link>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "Index",

    created() {
    },
}
</script>

<style scoped>

</style>
